body
{
	margin: 0;
	background-color: #586d3e;
	color: #0d0600;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
}

h1
{
	font-size: 56px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 4px;
	margin-top: 20px;
	margin-bottom: 10px;
}

p
{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 24px;
	letter-spacing: 2px;
}

.board
{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.card
{
	width: 124px;
	height: 124px;
	display: inline-block;
	margin: 4px;
	background-image: url("img/00.png");
	border: 4px solid #0d0600;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .3s ease-in-out;
}

.card:hover
{
	border: 4px solid #311c0a;
	filter: brightness(100%);
}

.cardA
{
	width: 124px;
	height: 124px;
	display: inline-block;
	margin: 4px;
	background-image: url("img/00.png");
	border: 4px solid #311c0a;
	border-radius: 4px;
	cursor: default;

	filter: brightness(100%);

	transition: all .3s ease-in-out;
}

.score
{
	margin-top: 5px;
	letter-spacing: 2px;
}